extends layout

block content
    h1 Fairway: #{fairway.name} Delete
    
    p Do you really want to delete this fairway?
        
        form(method='POST' action='')
            div.form-group
                input#id.form-control(type='hidden' name='fairwayid', required='true' value=fairway._id)

            button.btn.btn-primary(type='submit') Delete