extends layout

block content
    h1= title
    
    ul
        each layup in layup_list
            li
                a(href=layup.url) layup id: #{layup._id}
                //- | (#{layup.obstacle.obstacle._id})
                
        else
            li There are no layups.