extends layout

block content
    h1 Lz: #{lz.name} Delete
    
    p #[strong LzObstacles:]
        ul
            each obstacle in lz.lzObstacle.sort((a,b) => b.distanceToGreen - a.distanceToGreen)
                li 
                    a(href=obstacle.url) #[strong Obstacle: ] #{obstacle.name}
    hr
    
    if lz.lzObstacle.length
    
        p #[strong Delete all obstacles before attempting to delete this lz.]
    
    else 
        p Do you really want to delete this lz?
        
        form(method='POST' action='')
            div.form-group
                input#id.form-control(type='hidden' name='lzid', required='true' value=lz._id)

            button.btn.btn-primary(type='submit') Delete