extends layout

block content
    h1 Roll: #{roll.name} Delete
    
    p Do you really want to delete this roll?
        
        form(method='POST' action='')
            div.form-group
                input#id.form-control(type='hidden' name='rollid', required='true' value=roll._id)

            button.btn.btn-primary(type='submit') Delete